<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MusicMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <MusicMonitor.Properties.Settings>
            <setting name="ShowNotifications" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DaysToShow" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="FolderHeadBg" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="WindowBg" serializeAs="String">
                <value>#AAFFFFFF</value>
            </setting>
            <setting name="FolderBg" serializeAs="String">
                <value>#FFEFEFEF</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="GetAlbumArt" serializeAs="String">
                <value>True</value>
            </setting>
        </MusicMonitor.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
